{% extends 'base.html'  %}

{% block title %} {% endblock %}


{% block content %}
About user
<ul>
<li>{{ user.username }}</li>
<li>{{ user.email }}</li>
<li>{{ user.first_name }}</li>
<li>{{ user.last_name }}</li>
</ul>

Feedback
<ul>
  {% for feedback in all_feedback %}
  <li>
    <p> {{ feedback.title }} </p> 
    <p> {{ feedback.content }}</p>
    <a href="/feedback/{{ feedback.id }}/update">Edit</a>
    <a href="/feedback/{{ feedback.id }}/delete">Delete</a>
  </li>
  {% endfor %}
</ul>

{% endblock %}